<div class="modal-header">
  <button type="button" class="close" ng-click="$modalInstance.dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Update task</h4>
</div>
<div class="modal-body">
  <div id="update-task" ng-controller="UpdateTaskCtrl">
    <form novalidate name="new-task-form">
      <div class="row">
        <span class="col-xs-12"><input type="text" class="form-control text" ng-model="task.text" placeholder="What do you need to do?" required/></span>
      </div>
      <br />
      <div class="row">
        <span class="col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control" value="{{task.dueDate | date:'dd MMMM @ HH:mm'}}" readonly>
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="clearDate()"><i class="glyphicon glyphicon-remove-circle"></i></button>
              <button type="button" class="btn btn-primary dropdown-toggle" id="dateDropdown" data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <datetimepicker data-ng-model="task.dueDate" data-datetimepicker-config="{ dropdownSelector: '#dateDropdown' }"/>
              </ul>
            </div>
          </div>
        </span>
      </div>
      <br />
      <div class="row">
        <div class="btn-group col-xs-12">
          <button type="button" class="btn btn-default btn-lg col-xs-4" ng-click="dismiss()">Cancel</button>
          <button type="submit" ng-disabled="!task.text.length" class="btn btn-primary btn-lg col-xs-8" ng-click="addTask()">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>