<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#/home" class="navbar-brand">Tasks</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/test">Load table test</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-primary navbar-btn" ng-class="{active: nightMode}" ng-click="toggleNightMode()">
            <span class="glyphicon glyphicon-off"></span> Night
          </button>
        </li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/login">Log in</a></li>
      </ul>
    </div>
  </div>
</div>