<div id="task-list" ng-controller="LoadTestCtrl">
	<ul class="list-group">
      <li class="list-group-item" ng-class="{checked: task.done}" ng-repeat="task in tasks">
        <div class="task-done pull-left"><input type="checkbox" ng-model="task.done"></div>
        <p class="task-due-date pull-right">{{task.dueDate | date:'dd MMM @ HH:mm'}}</p>
        <p class="task-text">{{task.text}}</p>
      </li>
    </ul>

    <p>Error state: {{error}}</p>
    <button class="btn btn-lg btn-primary" ng-click="refresh()">Refresh</button>
</div>
